<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
          <a><cite>首页</cite></a>
          <a><cite>用户记录</cite></a>
          <a><cite>账户充值记录</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>

    <div class="x-body">
        <form class="layui-form x-center" action="" lay-filter="example" id="example" style="width:1060px">
            <div class="demoTable">
                客&nbsp;&nbsp;&nbsp;&nbsp;户
            <div class="layui-inline">
                <input class="layui-input" name="acc_name" id="acc_name" autocomplete="off" placeholder="支持关键字查询">
            </div>
                &nbsp;&nbsp;&nbsp;&nbsp;流&nbsp;&nbsp;水&nbsp;&nbsp;号
            <div class="layui-inline">
                <input type="text"  class="layui-input" name="order_num" id="order_num" autocomplete="off" placeholder="请输入流水号">
            </div>
                &nbsp;&nbsp;&nbsp;&nbsp;时&nbsp;间&nbsp;范&nbsp;围
                <div class="layui-inline">
                <input type="text" class="layui-input" id="s_test6" placeholder="请选择时间范围">
            </div>
            <button class="layui-btn search_btn" type="button"><i class="layui-icon layui-icon-search"></i></button>
            </div>
        </form>

        <tablse class="layui-hide" id="top_up" lay-filter="top_up"></tablse>

    </div>
    <script src="/static/layui/layui.all.js" charset="utf-8"></script>
    <script>
        var table = layui.table,
            form  = layui.from,
            laydate = layui.laydate,
            $ = layui.jquery;

        laydate.render({
            elem: '#s_test6'
            , range: true
        });

        table.render({
            elem: '#top_up'
            , height: 'full-235'
            , cellMinWidth: '80'
            , url: '/admin/top_history/' //数据接口
            , title: '客户充值记录'
            , limit: 20
            , skin: 'line'
            , even: true
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type: 'numbers'}
                , {field: 'name', title: '客户', align: 'center', totalRowText: '合计：'}
                , {field: 'pay_num', title: '流水号', align: 'center'}
                , {field: 'time', title: '充值时间', align: 'center', sort: true, style: 'color: #104E8B'}
                , {field: 'money', title: '充值金额', align: 'center', sort: true, totalRow: true, style: 'color: red'}
                , {field: 'before_balance', title: '充值前余额', align: 'center', }
                , {field: 'balance', title: '充值后余额', align: 'center',}
                , {field: 'sum_balance', title: '总充值金额', align: 'center', sort: true, }
            ]]
            , id: 'top_history'
            , page: true
        });

        $(".search_btn").on("click",function(){

            var acc_name = $('#acc_name').val(),
                order_num = $('#order_num').val(),
                time_range = $('#s_test6').val();
            table.reload("top_history", {
                page: {
                    curr: 1 //重新从第 1 页开始
                }, where: {
                    acc_name: acc_name,
                    order_num: order_num,
                    time_range: time_range,
                }
            }, '/admin/top_history');
            return false;
        });

    </script>
</body>
</html>