<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
          <a><cite>卡交易记录</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>

    <div class="x-body">
        <blockquote class="layui-elem-quote">一天更新两次，每天12点和24点开始更新decline的数据</blockquote>

        <form class="layui-form x-center" action="" lay-filter="example" id="example">
            卡  号
            <div class="layui-inline">
                <input type="number" class="layui-input" name="trans_card" id="trans_card" autocomplete="off" placeholder="输入卡号">
            </div>
            卡  名
            <div class="layui-inline">
                <input type="text"  class="layui-input" name="card_name" id="card_name" autocomplete="off" placeholder="输入卡名">
            </div>
        <button class="layui-btn search_btn" type="button"><i class="layui-icon layui-icon-search"></i></button>
        </form>
        <table class="layui-hide" id="card_trans_log" lay-filter="card_trans_log"></table>


    </div>
    <script src="/static/layui/layui.all.js" charset="utf-8"></script>
    <script>
         var laydate = layui.laydate,
            table = layui.table,
            $ = layui.jquery;


        table.render({
            elem: '#card_trans_log'
            , height: 'full-220'
            , cellMinWidth: '40'
            , url: '/user/card_trans/' //数据接口
            , title: '卡交易记录'
            , skin: 'line'
            , evens: true
            , limit: 50
            , limits: [50, 100, 150, 200, 250, 300, 350, 400, 450, 500]
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type: 'numbers'}
                , {field: 'card_number', title: '卡号', align: 'center', totalRowText: '合计：'}
                , {field: 'alias', title: '卡名', align: 'center',}
                , {field: 'description', title: '交易类型', align: 'center',}
                , {field: 'transaction_hour', title: '交易时间', align: 'center',}
                , {field: 'amount', title: '交易金额', align: 'center', totalRow: true, sort: true, style: "color: red"}
                , {field: 'transaction_status', title: '状态', align: 'center'}
                , {field: 'transaction_id', title: '交易ID', align: 'center'}
                , {field: 'currency', title: '币种', align: 'center'}
            ]]
            , id: 'card_trans_log'
            , page: true
        });

        $(".search_btn").on("click",function(){
            var
                trans_card = $('#trans_card').val(),
                card_name = $('#card_name').val();
            table.reload("card_trans_log", {
                page: {
                    curr: 1 //重新从第 1 页开始
                }, where: {
                    trans_card: trans_card,
                    card_name: card_name,
                }
            }, '/user/card_trans/');
            return false;
        });

    </script>
</body>
</html>