<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/x-admin.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
          <a><cite>账户交易记录</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>

    <div class="x-body">

        <form class="layui-form x-center" action="" lay-filter="example" >
            卡  号
            <div class="layui-inline">
                <input type="number" class="layui-input" name="trans_card" id="trans_card" autocomplete="off">
            </div>
            卡  名
            <div class="layui-inline">
                <input type="text" class="layui-input" name="card_name" id="card_name" autocomplete="off">
            </div>
            操作类型：
            <div class="layui-inline">
                <select name="interest" lay-filter="aihao" id="do_type">
                <option value=""></option>
                <option value="开卡">开卡</option>
                <option value="充值">充值</option>
                <option value="退款">退款</option>
                <option value="删卡">删卡</option>
                <option value="系统扣费">系统扣费</option>
              </select>
            </div>
            时间范围:
            <div class="layui-inline">
            <input type="text" class="layui-input" id="test7" placeholder="请选择操作时间">
        </div>
        <button class="layui-btn" data-type="reload" id="sub_trans">搜索</button>
        </form>
        <table class="layui-hide" id="pay_history" lay-filter="pay_history"></table>


    </div>
    <script src="/static/layui/layui.all.js" charset="utf-8"></script>
    <script>
        var table = layui.table,
            $ = layui.jquery,
            laydate = layui.laydate;

        laydate.render({
            elem: '#test7'
            ,range: true
          });

        table.render({
            elem: '#pay_history'
            , height: 'full-210'
            , cellMinWidth: '80'
            , url: '/user/user_trans/' //数据接口
            , title: '交易记录表'
            , skin: 'line'
            , limit:100
            , limits:[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'date', title: '操作日期', align: 'center',  totalRowText: '合计：'}
                , {field: 'trans_type', title: '交易类型', align: 'center', style:'color: green'}
                , {field: 'do_type', title: '操作类型', align: 'center',}
                , {field: 'card_no', title: '卡号', align: 'center',}
                , {field: 'card_name', title: '卡名', align: 'center',}
                , {field: 'do_money', title: '操作金额', align: 'center', totalRow: true, style:'color: red'}
                , {field: 'before_balance', title: '之前余额', align: 'center',}
                , {field: 'balance', title: '之后余额', align: 'center', }
            ]]
            , id: 'pay_history'
            , page: true

        });

        var trans = $('#sub_trans');
        trans.on('click',function () {
            var trans_card = $('#trans_card').val(),
                card_name = $('#card_name').val(),
                do_type = $('#do_type').val(),
                time_range = $('#test7').val();
            table.reload('pay_history', {
                page: {
                  curr: 1 //重新从第 1 页开始
                },where: {
                    time_range: time_range,
                    card_name: card_name,
                    card_num: trans_card,
                    do_type:do_type,
                  }
              }, '/user/account_trans/');
            return false
        });
    </script>
</body>
</html>